pytest==7.4.3
pytest-asyncio==0.21.1
pytest-mock==3.6.1
pytest-watch==4.2.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.8.0
python-multipart==0.0.6
python-socketio==5.10.0

# torch==2.1.2
# torchvision==0.16.2
numpy==1.26.3
Pillow==10.2.0

uvloop==0.19.0
seaborn==0.13.1
thop==0.1.1.post2209072238
coremltools==7.1
onnx==1.14.0
gsutil==5.27
notebook==6.4.10
wandb==0.16.2
torchinfo==1.8.0
python-dotenv==1.0.0
httptools==0.6.1
dacite==1.8.1
autopep8==2.0.4
debugpy==1.6.7
gunicorn==21.2.0
pyaml==23.12.0
ruamel.yaml==0.18.5